:root {
  // 1. Text
  --text-color-primary: black;
  --title-color-primary: #252838;
  --links-color: #071592;
  --links-color-hover: #4f5ccd;

  // 2. Backgrounds
  --background-primary: white;
  --background-secondary: #abaaaa;

  // 3. Buttons
  --button-color-primary: #007bff;
  --button-color-text: white;
  --button-color-hover: #0252a7;
  --button-color-active: #004187;

  // 4. Feedback
  --error-color: red;
  --focus-color: #2c4592;

  // 5. Visual Effects
  --shadow-color: #64646f33;

  // 6. Borders
  --border-color-primary: #007bff;
}
